<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <style>
    html {
      height: 100%;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      vertical-align: baseline;
    }
    body { height: 100%; margin: 0; padding: 0;}
    .header {
      height: 5%;
      background-color: rgb(0, 120, 215);
    }
    .footer {
      height: 3%;
      background-color: rgb(247, 247, 249);
    }
    .map { height: 92%; }

  </style>
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
  <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
</head>
<body>
<div class="header">
  <form role="form">
    <div class="col-sm-5 col-lg-3" style="float: right; margin-top: 4px">
      <div class="input-group">
        <input type="text" class="form-control input-sm" placeholder="Domain name or ip address">
        <span class="input-group-btn">
          <button class="btn btn-default btn-sm" type="submit">Trace</button>
        </span>
      </div>
    </div>
  </form>
</div>
<div id="map" class="map leaflet-container leaflet-fade-anim leaflet-grab"></div>
<div class="footer"></div>
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script>
  const map = L.map('map').setView([51.505, -0.09], 13);

  L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
    maxZoom: 18
  }).addTo(map);
</script>
</body>
</html>
