<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="leaflet/dist/leaflet.css" />
  <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
<div class="header">
  <div id="input" class="col-sm-5 col-lg-3">
    <div class="input-group">
      <input id="domainName" name="domainName" type="text" class="form-control input-sm" placeholder="Domain name or ip address">
      <span class="input-group-btn">
        <button id="submit" class="btn btn-default btn-sm" type="submit">Trace</button>
      </span>
    </div>
  </div>
</div>
<div id="map" class="map leaflet-container leaflet-fade-anim leaflet-grab"></div>
<div class="footer">
  <ul id="footerinfo">
    <li>© <%= year %> <%= title %></li>
  </ul>
</div>
<script src="leaflet/dist/leaflet.js"></script>
<script src="jquery/dist/jquery.min.js"></script>
<script src="bootstrap/dist/js/bootstrap.min.js"></script>
<script src="socket.io/socket.io.js"></script>
<script src="javascripts/mapping.js"></script>
<script src="javascripts/index.js"></script>
</body>
</html>
