* {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

html {
  height: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.header {
  height: 40px;
  background-color: rgb(0, 120, 215);
}

.footer {
  height: 15px;
  background-color: rgb(247, 247, 249);
}

#input {
  float: right;
  margin-top: 5px;
}

.maincontainer {
  height: calc(100% - (40px + 15px));
}

.map {
  height: 100%;
}

#sidebar {
  height: calc(100% - (50px + 30px));
  max-width: 300px;
  margin-top: 40px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: rgb(217, 237, 247);
}

#hopsTable {
  font-size: 12px;
}

div#footerinfo span {
  font-size: 12px;
}

div#footerinfo #copyright {
  float: left;
  margin-left: 10px;
}

div#footerinfo #disclaimer {
  float: right;
  margin-right: 10px;
}